/*          Panel         */
#mainPane{
    -fx-background-color: linear-gradient(to top, #9db5d8, #83a4d9, #6994d9, #4d82d8, #2e71d6);
}

/*          Labels        */
#morseLabel{
    -fx-text-fill: rgb(51, 53, 136);
    -fx-font-size: 100px;
    -fx-font-weight: BOLD;
}

/*          Buttons         */
#playButton{
    -fx-graphic: url("../images/playButton.png");
    -fx-background-color: transparent;
    
}

#flagButton{
    -fx-graphic: url("../images/FlagIcon.png");
    -fx-background-color: transparent;
    -fx-opacity: 90%;
} 

#settingsButton{
    -fx-graphic: url("../images/SettingsIcon.png");
    -fx-background-color: transparent;
    -fx-opacity: 90%;
} 

#githubButton{
    -fx-graphic: url("../images/GithubIcon.png");
    -fx-background-color: transparent;
} 