/*          Panel         */
#mainPanel{
    -fx-background-color: rgb(75, 73, 73);
}

/*          Labels        */
#morseLabel{
    -fx-text-fill: rgb(59, 141, 179);
    -fx-font: 105px "Calibri";

}

/*          Buttons         */
#playButton{
    -fx-graphic: url("../images/playButton.png");
    -fx-background-color: transparent;
    
}

#flagButton{

} 

#settingsButton{

} 

#coffeeButton{

} 