#morsePane{
    -fx-background-color: #008F7A;
}

#dotButton{
    -fx-graphic: url("../images/dot.png"); 
/*    -fx-background-color: #037a68;
    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-font-weight: BOLD;*/
}

#dashButton{
    -fx-graphic: url("../images/dash.png");
    -fx-background-color: #037a68;
/*    -fx-text-alignment: center;
    -fx-font-size: 50px;
    -fx-font-weight: BOLD;*/
}

#returnButton{
    -fx-graphic: url("../images/ReturnButton.png");
    -fx-background-color: transparent;
}

#runButton{
    
}

#checkButton{
    
}

#helpButton{
    -fx-graphic: url("../images/HelpButton.png");
    -fx-background-color: transparent;
}

#morseText{
    -fx-font-size: 80px;
    -fx-font-weight: BOLD;
}

#wordLabel{
    -fx-background-color: transparent;
    -fx-font-size: 50px;
}

#letterLabel{
    -fx-background-color: transparent;
    -fx-font-size: 30px;
}