.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}

.button{
    -fx-background-color: #1bcd56;
}

/*When the mouse is on it, change the color without do click*/
.button:hover{
    -fx-background-color: #4ef282;
}

.backgroundBrightness{
    -fx-background-color:  #1d1e1e;
}

#mainPane{
/*    -fx-background-color: linear-gradient(to top, #9db5d8, #83a4d9, #6994d9, #4d82d8, #2e71d6);*/
    -fx-background-color: #42C08B;      
}

#morseLabel{
    -fx-text-fill: #374955;
    -fx-font-size: 100px;
    -fx-font-weight: BOLD;
}

#menuBtt{
    -fx-background-color: transparent;
}

#flagButton{
    -fx-background-image: url("../images/FlagIcon.png");
    -fx-background-color: transparent;
    -fx-opacity: 90%;
} 

#settingsButton{
    -fx-background-image: url("../images/SettingsIcon.png");
    -fx-background-color: transparent;
    -fx-opacity: 90%;
} 

#githubButton{
    /*    -fx-graphic: url("../images/GithubIcon.png");*/
    -fx-background-image: url("../images/GithubIcon.png");
    -fx-background-color: transparent;
} 